<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
		 bootstrap="tests/bootstrap-unit.php"
		 colors="true"
		 cacheResultFile=".phpunit.result.cache"
		 beStrictAboutOutputDuringTests="true"
		 beStrictAboutTodoAnnotatedTests="true"
		 failOnWarning="true"
		 failOnRisky="true"
		 failOnIncomplete="true"
		 verbose="true">
	<testsuites>
		<testsuite name="Unit">
			<directory suffix="Test.php">tests/Unit</directory>
		</testsuite>
	</testsuites>
	<coverage>
		<include>
			<directory suffix=".php">src</directory>
		</include>
		<exclude>
			<directory suffix=".php">src/Domain/Fields/Types</directory>
		</exclude>
	</coverage>
</phpunit>
